@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url(fonts/GothamProRegular/GothamProRegular.ttf);
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(fonts/GothamBoldRegular/GothamBoldRegular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

a {
    text-decoration: none;
}

button {
    background-color: white;
    padding: .5rem 1rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

.landingPg {
    background: linear-gradient(#00A3FF, #AD00FF);
    min-height: 110vh;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

.navbar span {
    font-weight: bold;
    font-size: 26px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li, .navbar ul li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    margin: 5px;
}

.navbar .navBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navBtns .signinBtn button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

.navbar .navBtns .getstartedBtn button {
    font-weight: bold;
    color: black;
    mix-blend-mode: lighten;
    border-radius: 7px;
}


.landingPg .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    padding: 0 5rem;
}

.landingPg .container .textContent h1 {
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.landingPg .container .textContent p {
    margin: 1rem 0;
    letter-spacing: .1ch;
}

.landingPg .container .textContent .getstartedBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    mix-blend-mode: lighten;
    margin-top: 2rem;
    padding: 5px 20px;
    border-radius: 30px;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5ch;
    width: 80%;
}

.landingPg .container .textContent .getstartedBtn:hover {
    cursor: pointer;
}

.landingPg .container .textContent .getstartedBtn .btnBox {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
}

.landingPg .container .textContent .getstartedBtn .btnBox span {
    font-size: 30px;
}

/* .landingPg .container .textContent .getstartedBtn button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    width: 80%;
    margin: 2rem 0;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 1.5ch;
    mix-blend-mode: lighten;
}

.landingPg .container .textContent .getstartedBtn .btnBox {
    color: black !important;
    background-color: white;
} */